/ws/chiriboga/u1/ws13Libs/ComputerShop/dist/
/hw/chiriboga/u1/hw09CalculateIncomeTax/CalculateIncomeTax/nbproject/private/
/hw/chiriboga/u1/hw09CalculateIncomeTax/CalculateIncomeTax/build/
/hw/chiriboga/u1/hw10SaveAnObjects/SaveAnObject/nbproject/private/
/hw/chiriboga/u1/hw10SaveAnObjects/SaveAnObject/build/
/hw/chiriboga/u1/hw09CalculateIncomeTax/CalculateIncomeTax/dist/
/hw/santi/u1/HW08 SaveAndObject/SaveAndObject/nbproject/private/
/hw/santi/u1/HW08 SaveAndObject/SaveAndObject/build/
